{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
{#        <form method="get">#}
{#            {% csrf_token %}#}
{##}
{#            <fieldset class="form-group">#}
{#                    {{ form.as_p }}#}
{#                    <button class="btn btn-outline-info" type="submit">Post</button>#}
{##}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#            </div>#}
{#        </form>#}
        {% if q %}
                <h1>Posts You Have Searched For : {{ q }}</h1>
                <p>
                    {% with results.count as total_results %}
                        Found {{ total_results }} results
                    {% endwith %}
                </p>
                <hr>
                    {%  for post in results %}
{#                    <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>#}
                      <article class="media content-section">
                         <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                          <div class="media-body">
                            <div class="article-metadata">
                              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                            </div>
                            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                            <p class="article-content">{{ post.content }}</p>
                {#            <p><b>Category </b>:    <a href="{% url 'category' post.category %}">{{ post.category  }}</a></p>#}

                          </div>
                        </article>
                    {% empty %}
                    <p>No search found</p>
                    {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
